.upper{
    
    background-color: #ffcc00;
    border: 2px solid black;
    margin-top: 7rem;
    width: 50%;
    height: auto;
}
.upper h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

